body{
    margin:0;
    font-family: Arial, sans-serif;
}

.header{
    height: 60px;
    padding: 20px;
    display: flex;
    background: black;
    justify-content: center;
}

.title h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style:normal;
    color: white;
    font-size: 40px;
    margin: 0;
    padding: 0;
    
}

.menu-bar, .flex-container{
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    background-color:  #1f2937;
    border-bottom: solid 0.5px #37475f;
}

.con2 {
    display: flex;
    justify-content: center;
    flex: 1;
    
}

#inicio{
    display: flex;
    justify-content: flex-start;
    flex: 1;
    font-size: 24px;
    
}

.list ul{
    display: flex;
    justify-content: center;
    gap: 170px;
    font-size: 24px;
    padding-right: 150px;
}

a, ul{
    list-style-type: none;
    text-decoration: none;
    outline: none;
    color: azure;
}

.two{
    display: flex;
    background-color: #37475f;
}

.side-content{
    width: 360px;
    padding: 17px;
    padding-top: 40px;
    font-size: 18px;
    border-right: solid 5px #37475f;
}
.side-content ul{
    margin: 3px;
}
.info{
    background-color: #e5e5eb;
}
.info-container{
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
    margin: 25px;
  }
  
.info-content{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 130px;
    padding-right: 80px;
    font-size: 20px;
    color: black;
    text-align: justify;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}

h2{
    text-align: center;
    font-size: 28px;
}

img{
    display: flex;
    width: 450px;
    height: 350px;
    flex:1;
    justify-content: center;
    
}

.indt{
    color: purple;
}

p{
    line-height: 1.6;
    padding: 15px;
}
h1,h3,h4{
    padding: 15px;
}
.side-container{
    margin: 15px;
    
}

.side-content{
    line-height: 1.6;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.side-content  a{
    transition: color 0.3s ease-in-out; 
}
.side-content a:hover{
    color: #ff6347;
  }

  
  article{
    margin: 5px;
    padding: 15px;
    background-color: #e5e5eb;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  }
  footer{
    display: flex;
    flex: 1;
    margin-top: 80px;
    background-color: black;
    flex-direction: column;
    align-items: center;
    
}

footer>p{
    color: #e5e5eb;
}

